{% extends "/base.html" %}

{% block main %}
  <ul class="list-group">
    {% for auth in auths %}
    <li class="list-group-item"> {{ auth.url }}
      <a class="authbtn btn btn-xs btn-warning pull-right" data-auth-id="{{ auth.id }}">嫑了</a>
    </li>
    {% else %}
    什么都妹有
    {% endfor %}
    <li class="list-group-item">
        {{ user.token }} <a class="genbtn btn btn-xs btn-warning" data-user-id="{{ user.id }}"> 再来一发</a> 
	<a class="downloadbtn btn btn-xs btn-info" data-user-id="{{ user.id }}" target="_blank" href="/ui/download_config"> 下载mobile config </a>
    </li>
  </ul>
{% endblock %}

{% block bottom_script %}
<script>
  $('.authbtn').click(function (){
    var self = $(this);
    $.post('/ui/delete_auth', {auth_id: self.data('auth-id')}, function (){
      self.parent().remove();
    });
  });

  $('.genbtn').click(function(){
    var self = $(this);
    ans=confirm("are you sure to generate a new token? this will delete all your ssh keys.");
    if (ans != true) {
        return false;
    }
    $.post('/ui/refresh_token', {user_id: self.data('user-id')}, function(){
        location.reload();
    });
  });

  $('.downloadbtn').click(function(){
    var self = $(this);
    $.post('/ui/download_config', {user_id: self.data('user-id')}, function(){
        //alert("download...");
    });
  });
</script>
{% endblock %}
