{% extends "/base.html" %}

{% block main %}
<div class="login-form">
  {% if email %}
  <p>已经发送重置邮件至 {{email}} </p>
  <p>跪恩吧</p>
  {% else %}
  <form action="{{ url_for('ui.forget_password') }}" method="POST">
    <div class="form-group">
      <input name="email" class="form-control login-field" type="email" placeholder="邮箱">
      <label class="login-field-icon fui-mail" for=""></label>
    </div>
    {% with errors = get_flashed_messages(category_filter=['error'])%}
    {% if errors %}
    <div class="form-group">
      {% for error in errors %}
      <label class="text-danger">
        <span class="fui-cross-circle"></span> {{ error }}
      </label>
      {% endfor %}
    </div>
    {% endif %}
    {% endwith %}
    <button class="btn btn-primary btn-lg btn-block" type="submit">真的忘记密码了求求你帮我重置吧</button>
  </form>
  {% endif %}
</div>
{% endblock %}
