{% extends "/base.html" %}

{% block nav %}{% endblock %}

{% block main %}
<div class="login-div">
  <div class="login-screen">
    <div class="login-icon">
      <img src="/neptulon/static/img/svg/clipboard.svg" alt="">
      <p>来来我们来登录openid</p>
    </div>
    <div class="login-form">
      <form action="{{ url_for('ui.login', redirect=g.redir) }}" method="POST">
        <div class="form-group">
          <input name="name" class="form-control login-field" type="text" placeholder="用户名">
          <label class="login-field-icon fui-user" for=""></label>
        </div>
        <div class="form-group">
          <input name="password" class="form-control login-field" type="password" placeholder="密码">
          <label class="login-field-icon fui-lock" for=""></label>
        </div>
        {% with errors = get_flashed_messages(category_filter=['error'])%}
        {% if errors %}
        <div class="form-group">
          {% for error in errors %}
          <label class="text-danger">
            <span class="fui-cross-circle"></span> {{ error }}
          </label>
          {% endfor %}
        </div>
        {% endif %}
        {% endwith %}
        <button class="btn btn-primary btn-lg btn-block" type="submit">去吧基佬们!</button>
      </form>
    </div>
  </div>
</div>
{% endblock %}

{% block more_css %}
body {background-color: #1abc9c;}
.login-div {position: relative; padding: 38px 38px 267px; margin-bottom: 77px; color: #fff;}
{% endblock %}
