<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Guide</title>
  <style>
    .metainfo {
      font-size: 12px;
      background-color: #efefef;
      padding: 1em;
    }
  </style>
</head>
<body>
  <h2>一、翻墙账号配置方法</h2>
  <div class="metainfo">
    <h3>{{ user.real_name }}，欢迎您使用Ricebook SSO！请按照以下步骤设置：</h3>
      <ul>
        <li>您的用户名是：{{ user.name }}</li>
        <li>您的初始密码是：111111</li>
        <li>您的初始token是：{{ user.token }} (重要！以后各种系统都会使用token登录验证)</li>
      </ul>

      <h4>如果您是Windows用户：</h4>
        <ol>
          <li>下载附件ikev2vpn.zip，解压</li>
          <li>双击Ricebook IKEv2 VPN.pbk，输入您的用户名，密码输入您的token，域留空</li>
          <li>点击连接，打开浏览器即可访问被墙的网站</li>
        </ol>


      <h4>如果您是Mac OS X用户：</h4>
        <ol>
          <li>安装<a href="https://tunnelblick.net/downloads.html" target="_blank">Tunnelblick OpenVPN</a></li>
          <li>下载附件nova.zip，解压后会产生一个nova的文件夹，双击文件夹即可运行Tunnelblick，并将设置加载到Tunnelblick</li>
          <li>打开Tunnelblick，连接nova</li> 
          <li>以下两种方法选择其一即可：</li>
          <ul> 
          <li>自动代理：打开“网络偏好设置”-“高级”-“代理”，勾选“自动代理配置”，在URL输入：http://7xnb70.com2.z0.glb.qiniucdn.com/ricebook_auto_switch_20151229.pac (注意：此地址可能失效，请配置好后尽量使用chrome插件方法)</li>
          <li>全局设置：打开“网络偏好设置”-“高级”-“代理”，勾选“Web代理(HTTP)”和“安全Web代理(HTTPS)”两项，设置其地址为10.8.0.1，端口为8118（注意，使用此方法不能访问Ricebook SSO，因配置手机端需要访问Ricebook SSO，故不推荐此方法）</li>
          </ul>
          <li>Chrome浏览器设置：安装扩展<a href="https://chrome.google.com/webstore/detail/proxy-switchyomega/padekgcemlokbadohgkifijomclgjgif" target="_blank">Proxy SwitchyOmega</a>，安装好后，从选项导入配置<a href="http://pan.baidu.com/s/1boshuEV">switchy.bak</a>（密码：wdfh）。</li>
          <li>使用Chrome浏览器，选择使用Proxy SwitchyOmega的auto switch代理，此时即可访问被墙的网站</li>
        </ol>


      <h4>如果您是iOS用户：</h4>
        <ol>
          <li>首先，您需要配置好PC端，步骤如上，在PC端访问<a href="http://sso.ricebook.net/ui/pubkey" target="_blank">Ricebook SSO</a>，输入您的用户名和密码登录，在移动端VPN证书下载一栏，点击下载按钮，下载您的iOS端证书</li>
          <li>将下载的证书通过邮件或者AirDrop，发送到手机端</li>
          <li>在手机端点击该证书文件，点击安装，即可完成配置。</li>
          <li>在设置-通用-VPN里面，选择Ricebook IPSec连接，成功后，即可以使用Safari访问被墙的网站，或直接使用被墙的App。</li>
        </ol>


      <h4>如果您是Android用户：</h4>
      <ol>
        <li>创建VPN连接</li>
        <ul>
        <li>选择添加vpn连接，类型选择IPSec Xauth PSK</li>
        <li>地址为vpn.ricebook.net</li>
        <li>IPSec pre-shared Key为ipsec</li>
        <li>identifier留空</li>
        </ul>
        <li> 连接VPN </li>
        <ul>
        <li>使用您自己的用户名和密码登录即可</li>
        </ul>
      </ol>


      <h3>完成以上配置后，建议访问<a href="http://sso.ricebook.net/ui/password" target="_blank">Ricebook SSO</a>，修改您的密码，修改后，上述步骤需要输入密码的地方（Mac和Android），请输入您的新密码。</h3>
      <h3>功能测试中，如果有问题，请及时反馈：<a href="mailto:guotianzuo@ricebook.com">郭天佐</a></h3>

  </div>

  <h2>二、Surge网络配置文件</h2>
  <div class="metainfo">
     <p>下载附件surge.conf，导入surge即可</p>
  </div>

</body>
</html>
