<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Forget Password</title>
  <style>
    .metainfo {
      font-size: 12px;
      background-color: #efefef;
      padding: 1em;
    }
  </style>
</head>
<body>
  <h2>密码重置</h2>
  <div class="metainfo">
    <p>点击 <a href="{{ url_for('ui.reset_password', token=user.token, _external=True) }}" target="_blank">这里</a> 重置密码.</p>
    <p>或者打不开就复制 {{ url_for('ui.reset_password', token=user.token, _external=True) }} 贴浏览器里.</p>
  </div>
</body>
</html>
